body {
    background-color: rgb(238, 198, 218);
    margin: 50px;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 172, 212);
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0 0 0;
    align-items: center;
    align-content: center;

}


img {
    width: 120px;
    height: 80px;
    margin: 9px auto;
    padding: 5px 5px 3px 8px;

}

.title-text-block{
    padding: 2px 10px;
    font-size: 20px;
}

.component-menu-list{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    padding:10px 100px 10px 10px;
    width: 100%;
}

.menu-item {
    padding: 2px 10px;
    display: flex;
    font-size: 30px;
}

a {
    text-decoration: none;
    padding: 2px 10px;
}

a:hover {
    background-color: rgb(238, 198, 218);
    border-radius: 5px;
}



h1{
    text-align: center;
}

.menu-one {
    width: 100%;
    padding:100px 0 0 0;
}

main section ul {
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

 main li {
    display: flex;
    background-color: rgb(234, 172, 212);
    box-shadow: 5px, 5px, 4px, rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    overflow: hidden;
}

.item-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}